* {
  box-sizing: border-box;
}

:root {
  --border-color: grey;
  --option-color: grey;
  --option-color-active: lightgrey;
  --color-ganador: #14A44D;
  --color-perdedor: #DC4C64;
}

body{
  margin: 0;
}

main {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 display: flex;
 width: 100%;
 height: 100vh;
 align-items: center;
 flex-direction: column;
 background-image: url('./images/textura.avif');
}

h1 {
  color: hsl(0,0,70%);
  text-align: center;
}

.game-container {
  width: 400px;
  height: 400px;
  border: 3px ridge var(--border-color);
  margin-top: 30px;
  box-shadow: 2px 2px 4px darkgrey;
  background-color: hsl(0, 0%, 100%);
}

.game-container .titulo {
  font-size: 24px;
  text-align: center;
}

.game-container .opciones {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.game-container .opciones div {
  font-size: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--option-color);
  cursor: pointer;
  box-shadow: 2px 2px 4px darkgrey;
}

.game-container .opciones div:active {
  background-color: var(--option-color-active);
}

.game-container .opciones div:nth-child(3) {
  color: green;
}

.resultado {
  display: flex; 
  flex-wrap: wrap;
  text-align: center;
}
.resultado p {
  font-size: 20px;
}
.resultado p:nth-child(1) {
  flex: 100%;
  height: 45px;
}
.resultado p:nth-child(2) {
  flex: 50%;
}
.resultado p:nth-child(3) {
  flex: 50%;
}

.game-container .resultado p span {
  text-align: center;
  font-size: 160%;
  display: block;
  margin-top: 6px;
 }

.game-container .resultado p:nth-child(1) span {
  font-size: 24px;
}

.gana-maquina {
  color: var(--color-perdedor);
}

.gana-jugador {
  color: var(--color-ganador);
}

@media (max-width: 450px) {
  .game-container {
    width: 320px;
  } 
  
  h1 {
    font-size: 24px;
  }
}
